:root {
    --header-background-color: #F2F2F2;
    --header-text-color: #BF2A37;
    --general-text-color: #333;
    --main-background-color: #F2F2F2;
    --main-sub-color: #F29B88;
    --footer-background-color: #0D0D0D;
    --footer-text-color: #BF1515;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Prompt", sans-serif;
    background-color: var(--main-background-color);
    color: var(--general-text-color);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-row: 1;
    display: flex;
    align-items: center;
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    padding: 1rem 0;
    justify-content: center;
    justify-items: center;
    gap: 6rem;

    position: fixed;
    top: 0;
    width: 100%;
}

header img {
    max-width: 3.75rem;
    height: auto;
}

header ul {
    display: flex;
    gap: 3rem;
}

header a {
    color: var(--header-text-color);
    font-size: 1.1rem;
}

header .header-button {
    display: flex;
    gap: 1rem;
}

.header-button button {
    padding: 0.75rem 1.5rem;
    background-color: var(--header-text-color);
    color: var(--header-background-color);
    border-radius: 1.5rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.banner-content img {
    width: 100%;
    height: auto;
    margin-top: 4rem;
}

main {
    grid-row: 3;
    justify-self: center;
    padding: 3rem 0;
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#about {
    display: flex;
    align-items: center;
    gap: 11rem;
    margin-top: 4rem;
    padding: 1rem 0;
    scroll-margin-top: 9.5rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-text h1 {
    color: var(--header-text-color);
}

.about-image img {
    max-width: 40rem;
    max-height: 40rem;
    border-radius: 1rem;
    border: 0.25rem solid var(--main-sub-color); 
}

.members {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.members img {
    max-width: 24rem;
    border-radius: 2rem;
}

footer {
    grid-row: 4;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    justify-items: center;
    justify-content: center;
    gap: 4rem;
}

footer #footer-info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

footer #info {
    display: flex;
    align-items: center;
    gap: 4rem;
}

footer img {
    max-width: 9rem;
    height: auto;
}

footer a {
    color: var(--footer-text-color);
}



