:root {
    --header-background-color: #F2F2F2;
    --header-text-color: #BF2A37;
    --general-text-color: #333;
    --main-background-color: #F2F2F2;
    --main-sub-color: #F29B88;
    --footer-background-color: #0D0D0D;
    --footer-text-color: #BF1515;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
}

body {
    font-family: "Prompt", sans-serif;
    background-color: var(--main-background-color);
    color: var(--general-text-color);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

header {
    grid-row: 1;
    display: flex;
    align-items: center;
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    padding: 1rem 0;
    justify-content: center;
    justify-items: center;
    gap: 11rem;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header a {
    display: flex;
    align-items: center;
}

header img {
    max-width: 3.5rem;
    height: auto;
}

header .nav-button {
    display: flex;
    align-items: center;
    gap: 5rem;
}

header ul {
    display: flex;
    gap: 3.5rem;
}

header li a {
    color: var(--general-text-color);
    font-size: 1rem;
    font-weight: 500;
}

header a:hover {
    color: var(--header-text-color);
}

header .header-button {
    display: flex;
    gap: 1rem;
}

.header-button button {
    padding: 0.75rem 1.5rem;
    background-color: var(--header-text-color);
    color: var(--header-background-color);
    border-radius: 1.5rem;
    border: none;
    font-size: 0.95rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.banner-content img {
    width: 100%;
    height: auto;
    margin-top: 4rem;
}

main {
    grid-row: 3;
    justify-self: center;
    padding: 3rem 0;
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

/* Code phần giới thiệu */
#about {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 3rem;
    margin-top: 4rem;
    padding: 1rem 0;
    scroll-margin-top: 10rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-text h1 {
    font-size: 2.3rem;
    color: var(--header-text-color);
}

.about-text p {
    font-size: 1.1rem;
    color: var(--general-text-color);
}

.about-image img {
    max-width: 35rem;
    max-height: 35rem;
    border-radius: 1rem;
    border: 0.25rem solid var(--main-sub-color);
}

/* Code phần member */
#members {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    scroll-margin-top: 8rem;
}

#members h1 {
    font-size: 2.5rem;
    color: var(--header-text-color);
}

#members p {
    margin-bottom: 2.5rem;
    font-size: 1.1rem;
}

.members {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1.5rem;
}

.members a {
    display: flex;
    align-items: center;
}

.members img {
    max-width: 21.5rem;
    border-radius: 2rem;
    transition: all 0.4s ease-in-out;
}

.members img:hover {
    transform: scale(1.02);
}

#activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 67.75rem;
    gap: 3rem;
    scroll-margin-top: 9.2rem;
}

#activities h1 {
    font-size: 2.5rem;
    color: var(--footer-text-color);
    
}

.activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
}

.activities a, .hoatdong {
    display: flex;
    align-items: center;
}

.activities img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}

.activities .hoatdong:first-child {
    width: 100%;
    grid-row: span 2;
    grid-column: span 2;
}

.hoatdong {
    position: relative;
}

.noidung-hoatdong {
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--main-background-color);
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    opacity: 0;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.55);
    transition: opacity 0.4s ease-in-out;
}

.hoatdong:hover .noidung-hoatdong {
    opacity: 1;
}

footer {
    grid-row: 4;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    justify-content: center;
    gap: 10rem;
}

footer #footer-info {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

footer #info {
    display: flex;
    align-items: baseline;
    gap: 5rem;
}

footer img {
    max-width: 13rem;
    height: auto;
}

footer a {
    color: var(--footer-text-color);
}



